{% extends 'base.html' %}

{% block title %}Sing Up{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card shadow-lg p-4" style="max-width: 400px; width: 100%;">
        <h3 class="text-left mb-4">Iniciar sesión</h3>
        
        {% if messages %}
            <div class="alert alert-danger">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
        
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="id_username" class="form-label">User</label>
                {{ form.username }}
            </div>
            <div class="mb-3">
                <label for="id_password" class="form-label">Pass</label>
                {{ form.password }}
            </div>
            <div class="d-flex justify-content-between align-items-center mb-3">
                <div>
                    <a href="#" class="text-decoration-none">¿Olvidaste tu contraseña?</a>
                </div>
            </div>
            <button type="submit" class="btn btn-primary w-100">Iniciar sesión</button>
        </form>
    </div>
</div>
{% endblock %}